body {
  margin: 5px;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

div {
  box-sizing: border-box;
  /* 75px */
  --boxSize: calc((100vh - 60px)/10);
  width: var(--boxSize);
  height: var(--boxSize);
  border: 1px solid gray;
}

.subsection {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.subsection div {
  /* width: calc(75px /2);
  height: 75px; */
  --miniBox: calc(var(--boxSize)/2);
  width: var(--miniBox);
  height: var(--boxSize);
  border: 0.5px solid gray;
}

.sidesection {
  flex-direction: column;
}

.sidesection div {
  height: calc(var(--boxSize)/3);
  width: var(--boxSize);
}

/* prime colours */
.n1 { background: white; }
.n2 { background: blue; }
.n3 { background: red; }
.n5 { background: yellow; }
.n7 { background: black; }
.n11 { background: magenta; }
.n13 { background: cyan; }
.n17 { background: coral; }
.n19 { background: darkgreen; }
.n23 { background: indigo; }
.n23 { background: rgb(44, 0, 205); }
.n29 { background: maroon; }
.n31 { background: lightgreen; }
.n37 { background: teal; }
.n41 { background: orchid; }
.n43 { background: goldenrod; }
.n47 { background: royalblue; }
.n53 { background: brown; }
.n59 { background: purple; }
.n61 { background: khaki; }
.n67 { background: gray; }
.n71 { background: green; }
.n73 { background: violet; }
.n79 { background: paleturquoise; }
.n83 { background: slateblue; }
.n89 { background: darkslategray; }
.n97 { background: navy; }

/* .n1 { background: #ECE5F0; }
.n2 { background: #59114D; }
.n3 { background: #228CDB; }
.n5 { background: #003B36; }
.n7 { background: #F4D35E; }
.n11 { background: #DA4167; }
.n13 { background: #087E8B; }
.n17 { background: #BFD7EA; }
.n19 { background: #5D2E46; }
.n23 { background: #C81D25; }
.n23 { background: #C879FF; }
.n29 { background: #AD6A6C; }
.n31 { background: #9B1D20; }
.n37 { background: #7BD389; }
.n41 { background: #E98A15; }
.n43 { background: #0B3954; }
.n47 { background: #FAF2A1; }
.n53 { background: #090446; }
.n59 { background: #42F2F7; }
.n61 { background: #341C1C; }
.n67 { background: #FF5A5F; }
.n71 { background: #058C42; }
.n73 { background: #FFB7FF; }
.n79 { background: #CEFF1A; }
.n83 { background: #2D3142; }
.n89 { background: #916953; }
.n97 { background: #070707; } */



@media only screen and (min-width: 400px) {
  body {
    margin: 30px;
  }
}
